# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/
env/
ENV/

# Poetry
.poetry/

# IDEs and editors
.vscode/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local environment variables
.env

# Logs
*.log

# Tests
coverage/
*.cover
*.py,cover

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.coverage

# macOS specific files
.DS_Store